<section>
<h3>Getting Started</h3>
<ul>
	<li class="menu"><a href="{{ root_url }}/docs/setup/installation">Installation</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/setup/configuration">Configuration</a></li>
</ul>

<h3>The Facade Object</h3>
<ul>
	<li class="menu"><a href="{{ root_url }}/docs/facade/client">Client Side Validation</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/facade/server">Server Side Validation</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/facade/result">The Result Object</a></li>
</ul>

<h3>Validation Rules</h3>
<ul>
	<li class="menu"><a href="{{ root_url }}/docs/rules/validationtypes">List of Validation Types</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/rules/json">Rules as JSON</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/rules/xml">Rules as XML</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/rules/orm">Rules as ORM Metadata</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/rules/upgrade-pre-98">Upgrading Pre v0.98 Rules</a></li>
</ul>

<h3>Integrations</h3>
<ul>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/internationalization">Internationalization</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/bo">ValidateThis w/Business Objects</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/cfwheels">ValidateThis w/CFWheels</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/coldbox">ValidateThis w/ColdBox</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/frameworkone">ValidateThis w/Framework One</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/modelglue">ValidateThis w/ModelGlue</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/mvc">ValidateThis w/MVC</a></li>
	<li class="menu"><a href="{{ root_url }}/docs/integrations/orm">ValidateThis w/ORM</a></li>
</ul>

<h3>Examples</h3>
<ul>
	<li class="menu"><a href="{{ root_url }}/docs/examples/objecttype-discovery">Automatic ObjectType Discovery</a></li>
</ul>
</section>